
.DS_Store
.DS_Store
English/Unit 1..docx
English/Unit 2.docx
English/Unit 2.Studying in the UK (1) 1.docx
MD_convert/ report/report_lab02.docx
MD_convert/ report/report_lab02.md
MD_convert/ report/report_lab02.pdf
MD_convert/ report/screens/1.jpg
MD_convert/ report/screens/10.jpg
MD_convert/ report/screens/2.jpg
MD_convert/ report/screens/3.jpg
MD_convert/ report/screens/4.jpg
MD_convert/ report/screens/5.jpg
MD_convert/ report/screens/6.jpg
MD_convert/ report/screens/7.jpg
MD_convert/ report/screens/8.jpg
MD_convert/ report/screens/9.jpg
MD_convert/ report/screens/bkp.jpg
MD_convert/.DS_Store
MD_convert/presentation/presentation_lab02.md
MD_convert/presentation/presentation_lab02.pdf
MD_convert/presentation/screens/1.jpg
MD_convert/presentation/screens/10.jpg
MD_convert/presentation/screens/2.jpg
MD_convert/presentation/screens/3.jpg
MD_convert/presentation/screens/4.jpg
MD_convert/presentation/screens/5.jpg
MD_convert/presentation/screens/6.jpg
MD_convert/presentation/screens/7.jpg
MD_convert/presentation/screens/8.jpg
MD_convert/presentation/screens/9.jpg
MD_convert/presentation/screens/bkp.jpg
output.csv
курс.ipynb
Моделирование беспроводных сетей/lab02.html
Моделирование беспроводных сетей/lab02.ipynb
Моделирование беспроводных сетей/lab02.pdf
МОЗИиИБ/lab03/.DS_Store
ВКР_бакалавриат/бот/.DS_Store
МОЗИиИБ/lab03/.DS_Store
MD_convert/presentation/screens/bkp.jpg
MD_convert/presentation/screens/9.jpg
MD_convert/presentation/screens/8.jpg
MD_convert/presentation/screens/7.jpg
MD_convert/presentation/screens/6.jpg
MD_convert/presentation/screens/5.jpg
MD_convert/presentation/screens/4.jpg
MD_convert/presentation/screens/3.jpg
MD_convert/presentation/screens/2.jpg
MD_convert/presentation/screens/10.jpg
MD_convert/presentation/screens/1.jpg
MD_convert/presentation/presentation_lab02.pdf
MD_convert/presentation/presentation_lab02.md
MD_convert/.DS_Store
MD_convert/ report/screens/bkp.jpg
MD_convert/ report/screens/9.jpg
MD_convert/ report/screens/8.jpg
MD_convert/ report/screens/7.jpg
MD_convert/ report/screens/6.jpg
MD_convert/ report/screens/5.jpg
MD_convert/ report/screens/4.jpg
MD_convert/ report/screens/3.jpg
MD_convert/ report/screens/2.jpg
MD_convert/ report/screens/10.jpg
MD_convert/ report/screens/1.jpg
MD_convert/ report/report_lab02.pdf
MD_convert/ report/report_lab02.md
MD_convert/ report/report_lab02.docx
English/~$it 2.Script.docx
English/~$it 1.Script.docx
English/Unit 4. Higher Education in Russia.docx
English/Unit 2.Studying in the UK.docx
English/Unit 2.Script.docx
English/Unit 2 - оценка.docx
English/Unit 1.Studying in Russia and Abroad (1) (2).docx
English/Unit 1.Script.docx
English/Unit 1 - оценка.docx
